.header {
    .logo {
        background-color: red;
    }
    .nav {
        .home{
            color: green;
        }
        .about {
            color: red;
        }
        .contact {
            color: blue;
        }
    }
}