@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.main-todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo-input{
    padding: 5px;
    width: 350px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.todo-add{
    padding: 5px;
    background-color: blue;
    color: white;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
}
.todo-container{
    margin-top: 30px;
    border-top:  1px solid #ccc;
    border-left:  1px solid #ccc;
    border-right:  1px solid #ccc;
    width: 40%;
    border-radius: 5px;
}
.todo-title{
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 83, 83);
    color: #fff;
    padding: 10px;
}
.todo-list{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
}
.todo-fix{
    margin-right: 10px;
    padding: 5px;
    color: white;
    background-color: royalblue;
    border-radius: 5px;
    border: 1px solid transparent;
}
.todo-delete{
    padding: 5px;
    color: white;
    background-color: rgba(255, 0, 0, 0.841);
    border-radius: 5px;
    border: 1px solid transparent;
}
.todo-footer {
    padding: 10px;
}